NationalParks.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="NationalParks" type="NationalParksType"/>

  <xs:complexType name="NationalParksType">
    <xs:sequence>
      <xs:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="City"   type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="State"  type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Zip"    type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>

  <NationalPark Rating="4.9">
    <Name>Grand Canyon</Name>
    <Phone>928-638-7496</Phone>
    <Phone>888-297-2757</Phone>
    <Phone>866-499-2574</Phone>
    <Address NearestAirport="FlagStaff">
      <Number>8</Number>
      <Street>S Entrance Road</Street>
      <City>Grand Canyon</City>
      <State>AZ</State>
      <Zip>86023</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.8">
    <Name>Yellowstone</Name>
    <Phone>307-344-7381</Phone>
    <Phone>307-344-2107</Phone>
    <Address NearestAirport="Jackson Hole">
      <Number>1</Number>
      <Street>Grand Loop Road</Street>
      <City>Yellowstone National Park</City>
      <State>WY</State>
      <Zip>82190</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.7">
    <Name>Yosemite</Name>
    <Phone>209-372-0200</Phone>
    <Phone>209-372-0201</Phone>
    <Address NearestAirport="Fresno">
      <Number>9</Number>
      <Street>Village Drive</Street>
      <City>Yosemite Valley</City>
      <State>CA</State>
      <Zip>95389</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.6">
    <Name>Zion</Name>
    <Phone>435-772-3256</Phone>
    <Phone>435-772-0150</Phone>
    <Address NearestAirport="St. George">
      <Number>1</Number>
      <Street>Zion Park Blvd</Street>
      <City>Springdale</City>
      <State>UT</State>
      <Zip>84767</Zip>
    </Address>
  </NationalPark>

  <NationalPark>
    <Name>Rocky Mountain</Name>
    <Phone>970-586-1206</Phone>
    <Phone>970-586-1207</Phone>
    <Address NearestAirport="Denver">
      <Number>1000</Number>
      <Street>US Highway 36</Street>
      <City>Estes Park</City>
      <State>CO</State>
      <Zip>80517</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.5">
    <Name>Acadia</Name>
    <Phone>207-288-3338</Phone>
    <Address NearestAirport="Bangor">
      <Number>25</Number>
      <Street>Visitor Center Road</Street>
      <City>Bar Harbor</City>
      <State>ME</State>
      <Zip>04609</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.4">
    <Name>Olympic</Name>
    <Phone>360-565-3130</Phone>
    <Phone>360-565-3100</Phone>
    <Address NearestAirport="Seattle">
      <Number>3002</Number>
      <Street>Mount Angeles Road</Street>
      <City>Port Angeles</City>
      <State>WA</State>
      <Zip>98362</Zip>
    </Address>
  </NationalPark>

  <NationalPark>
    <Name>Great Smoky Mountains</Name>
    <Phone>865-436-1200</Phone>
    <Phone>865-436-1201</Phone>
    <Address NearestAirport="Knoxville">
      <Number>107</Number>
      <Street>Park Headquarters Road</Street>
      <City>Gatlinburg</City>
      <State>TN</State>
      <Zip>37738</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.3">
    <Name>Bryce Canyon</Name>
    <Phone>435-834-5322</Phone>
    <Address NearestAirport="Cedar City">
      <Number>1</Number>
      <Street>Bryce Canyon Road</Street>
      <City>Bryce Canyon City</City>
      <State>UT</State>
      <Zip>84764</Zip>
    </Address>
  </NationalPark>

  <NationalPark Rating="4.7">
    <Name>Glacier</Name>
    <Phone>406-888-7800</Phone>
    <Phone>406-732-7740</Phone>
    <Address NearestAirport="Glacier Park">
      <Number>64</Number>
      <Street>Grinnell Drive</Street>
      <City>West Glacier</City>
      <State>MT</State>
      <Zip>59936</Zip>
    </Address>
  </NationalPark>

  <NationalPark>
    <Name>Joshua Tree</Name>
    <Phone>760-367-5500</Phone>
    <Address NearestAirport="Palm Springs">
      <Number>74485</Number>
      <Street>National Park Drive</Street>
      <City>Twentynine Palms</City>
      <State>CA</State>
      <Zip>92277</Zip>
    </Address>
  </NationalPark>

</NationalParks>
